<template>
  <div class="container__not-found">
    <h1>Página no encontrada</h1>
    <router-link to="/" class="btn btn-sm btn-outline-primary">Regresar al inicio</router-link>
  </div>
</template>

<script setup>
import { RouterLink } from 'vue-router';
</script>

<style scoped>
.container__not-found {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: calc(100vh - 120px);
}
</style>
