<template>
  <LoadingSpinner v-if="loading" />
  <div v-if="data">
    <h1>Pokemons</h1>
    <ul class="list-group my-3">
      <li class="list-group-item" v-for="pokemon in data.results" :key="pokemon.id">
        <router-link :to="`/pokemon/${pokemon.name}`">{{ pokemon.name }}</router-link>
      </li>
    </ul>
    <div class="btn-group mb-3" role="group" aria-label="Basic example">
      <button type="button" class="btn btn-outline-primary">Previous</button>
      <button type="button" @click="getPokemons()" class="btn btn-outline-primary">Next</button>
    </div>
  </div>
</template>

<script setup>
import { RouterLink } from 'vue-router';
import { usePokemons } from '@/composables/usePokemons';
import LoadingSpinner from '@/components/LoadingSpinner.vue';

const { getPokemons, data, loading } = usePokemons('');
getPokemons();
</script>
