<template>
  <LoadingSpinner v-if="loading" />
  <div v-if="data">
    <div class="d-flex justify-content-between">
      <h1>{{ $route.params.name.toUpperCase() }}</h1>
      <div>
        <button class="btn btn-sm btn-outline-danger" @click="back">Regresar</button>
      </div>
    </div>
    <img :src="data.sprites?.front_default" class="img-fluid" :alt="data?.name" />
  </div>
</template>
<script setup>
import { useRoute, useRouter } from 'vue-router';
import { usePokemons } from '@/composables/usePokemons';
import LoadingSpinner from '@/components/LoadingSpinner.vue';

const { params } = useRoute();
const router = useRouter();
const back = () => router.push('/pokemons');

const { getPokemons, data, loading } = usePokemons();
getPokemons(params.name);
</script>
